/*Body*/
body {
    background: url('../img/welcome.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgb(255,
    255,
    255);
    color: #fff;
    position: relative;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*navigation bar*/ 

.navbar {
    overflow: hidden;
    background-color: #333;
    opacity: .8;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar-right{
    padding: 30px 12px;
    float: right;
}

#navbar-right:hover {
    background-color: #ddd;
    color: black;
}
/*logo */
#logo{
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 350px;
}

/*Welcom message */
.welcome{
    color: #fff;
    position: relative;
    height: 580px;
    width: 100%;
}
.welcome-message{
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}
.welcome-message h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgb(253, 0, 0);
    font-size: 4em;
    text-align: center;
}
.welcome-message h4{
    margin: 0;
    text-shadow: 2px 2px 3px rgba(252, 3, 3, 0.94);
    font-size: 2em;
    color: #85F307;
    text-align: center;
}
.welcome-message hr{
    background-color: #42DD00;
}

.welcome p {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(252, 3, 3, 0.94);
    font-size: 2em;
    color: #fff;
    text-align: center;
}
/*Table*/
.ride-head{
    text-align: center;
    margin-top: 50px;
    color: #fff;
}
.rides{
    text-align: center;
    overflow-x:auto;
    background-color: #ddd;
    color: #333;
    margin-top: 50px;
    opacity: .8;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

tr a{
    text-decoration: none;
    color: #333;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

/*footer*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(10, 9, 9);
    color: white;
    text-align: center;
    opacity: .8;
}
