/*Body*/
body {
    background: url('../img/welcome.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: whitesmoke;
    color: white;
    position: relative;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*navigation bar*/ 

.navbar {
    overflow: hidden;
    background-color: #333;
    opacity: .8;
}

.navbar a {
    float: left;
    color: ghostwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar-right{
    padding: 30px 12px;
    float: right;
}

#navbar-right:hover {
    background-color: ghostwhite;
    color: black;
}
/*logo */
#logo{
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 350px;
}

/*Welcom message */
.welcome{
    color: white;
    position: relative;
    height: 580px;
    width: 100%;
}
.welcome-message{
    position: relative;
    padding-top: 100px;
}
.welcome-message h1 {
    margin: 0;
    text-shadow: 2px 2px 3px red;
    font-size: 4em;
    text-align: center;
}
.welcome-message h4{
    margin: 0;
    text-shadow: 2px 2px 3px red;
    font-size: 2em;
    color: turquoise;
    text-align: center;
}
.welcome-message hr{
    background-color: blue;
}

.welcome p {
    margin: 0;
    text-shadow: 2px 2px 3px red;
    font-size: 2em;
    color: white;
    text-align: center;
}
/*Table*/
.ride-head{
    text-align: center;
    margin-top: 50px;
    color: #fff;
}
.rides{
    text-align: center;
    overflow-x:auto;
    background-color: #ddd;
    color: #333;
    margin-top: 50px;
    opacity: .8;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

tr a{
    text-decoration: none;
    color: #333;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

/*Login form */
.login {
    width: 320px;
    height: 420px;
    background: #333;
    color: white;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    opacity: .8;
    padding: 90px 30px;
    border-radius: 20px;
    margin-top: 310px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login input {
    width: 100%;
    margin-bottom: 20px;
}

.login input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.login input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: teal;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.login input[type="submit"]:hover {
    cursor: pointer;
    background: turquoise;
    color: black;
}

.login a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: darkgrey;
}

.login a:hover {
    color: turquoise;
}

/*Registration Form */
.form{
    width: 350px;
    height: 500px;
    background: #333;
    color: white;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    opacity: .8;
    padding: 0px 30px;
    margin-top: 293px;
}
.form input{
    width: 100%;
    padding: 10px;
}

.form input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.form input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: teal;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

/*footer*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(10, 9, 9);
    color: white;
    text-align: center;
    opacity: .8;
}
