<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Friend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Core css link-->
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/main.css" />
    
</head>

<body>
    <!--Navbar-->
    <div class="navbar">
        <a href="#">
            <img id="logo" src="../static/img/logo-4.png">
        </a>
        <a id="navbar-right" href="login.html">Logout</a>
        <a id="navbar-right" href="profile.html">Profile</a>
        <a id="navbar-right" href="friend.html">Friend's Request</a>
        <a id="navbar-right" href="home.html">Home</a>
    </div>

    <!--Friends list-->
    <div class="row">
        <h3>Friends</h3>
        <div class="column">
            <div class="card">
                <img src="../static/img/profile.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h3>Emmy Smith</h3>
                    <p><b>Ride: </b> Kamau</p> 
                    <p><b>Ride status: </b> Rejected</p>
                    <button id="myBtn"><a href="comment.html">Add a comment</a></button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../static/img/profile-friend.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h3>Jane Doe</h3>
                    <p><b>Ride: </b> Kamau</p> 
                    <p><b>Ride status: </b>Accepted</p>
                    <button id="myBtn"><a href="comment.html">Add a comment</a></button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../static/img/friends.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h3>David Doe</h3>
                    <p><b>Ride: </b> Kamau</p> 
                    <p><b>Ride status: </b> Accepted</p>
                    <button id="myBtn"><a href="comment.html">Add a comment</a></button>
                    
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../static/img/profile.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h3>Mark Masaai</h3>
                    <p><b>Ride: </b> Otoyo</p> 
                    <p><b>Ride status: </b> Accepted</p> 
                    <button id="myBtn"><a href="comment.html">Add a comment</a></button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../static/img/profile.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h3>Fatma Doe</h3>
                    <p><b>Ride: </b> Otoyo</p> 
                    <p><b>Ride status: </b> Rejected</p>
                    <button id="myBtn"><a href="comment.html">Add a comment</a></button>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="column">
            <div class="card">
                <img src="../static/img/profile.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h3>James Doe</h3>
                    <p><b>Ride: </b> Kamau</p> 
                    <p><b>Ride status: </b> Rejected</p>
                    <button id="myBtn"><a href="comment.html">Add a comment</a></button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../static/img/profile.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h3>June Doe</h3>
                    <p><b>Ride: </b> Kamau</p> 
                    <p><b>Ride status: </b> None</p>
                    <button id="myBtn"><a href="comment.html">Add a comment</a></button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../static/img/profile.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h3>Daudi Mia</h3>
                    <p><b>Ride: </b> Kamau</p> 
                    <p><b>Ride status: </b> Active</p>
                    <button id="myBtn"><a href="comment.html">Add a comment</a></button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../static/img/frnd.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h3>Kelvo Doe</h3>
                    <p><b>Ride: </b> Kamau</p> 
                    <p><b>Ride status: </b> Rejected</p>
                    <button id="myBtn"><a href="comment.html">Add a comment</a></button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../static/img/friends.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h3>Dinney Doe</h3>
                    <p><b>Ride: </b> Kamau</p> 
                    <p><b>Ride status: </b> Accepted</p>
                    <button id="myBtn"><a href="comment.html">Add a comment</a></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>