<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Core css link-->
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/main.css" />
    <script src="../static/js/main.js"></script>
</head>

<body>
    <!--Navbar-->
    <div class="navbar">
        <a href="#">
            <img id="logo" src="../static/img/logo-4.png">
        </a>
        <a id="navbar-right" href="#home">Login</a>
        <a id="navbar-right" href="#">Profile</a>
        <a id="navbar-right" href="#">Home</a>
    </div>

    <!--Login form-->
    <div class="login">
        <img src="../static/img/login.png" class="avatar">
        <h1>Login Here</h1>
        <form method="POST", action="home.html">
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username" required>
            <p>Password</p>
            <input type="password" name="" placeholder="Enter password" required>
            <input type="submit" name="" value="Login">
            <a href="#">Lost your password?</a>
            <br>
            <a href="#">Do not have an account?</a>
        </form>
    </div>

    <!--footer fixed-->
    <div class="footer">
        <p>Ride-my-way &copy; 2018</p>
    </div>

</body>

</html>