<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Offer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Core css link-->
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/main.css" />
</head>

<body>
    <!--Navbar-->
    <div class="navbar">
        <a href="#">
            <img id="logo" src="../static/img/logo-4.png">
        </a>
        <a id="navbar-right" href="login.html">Logout</a>
        <a id="navbar-right" href="profile.html">Profile</a>
        <a id="navbar-right" href="friend.html">Friend's Request</a>
        <a id="navbar-right" href="home.html">Home</a>
    </div>

    <!--user profile details-->
    <div class="profile lefty">
        <div class="centered-right">
            <div class="ride-head">
                <h2>My ride requests</h2>
            </div>

            <div class="rides">
                <table>
                    <tr>
                        <th>Passenger</th>
                        <th>From</th>
                        <th>To</th>
                        <td>Date</td>
                        <th>Time</th>
                    </tr>
                    <tr>
                        <td>Davide</td>
                        <td>Ngong</td>
                        <td>Town</td>
                        <td>20/6/2018</td>
                        <td>8:00AM</td>
                        <td>
                            <button class="button">Accept</button>
                        </td>
                        <td>
                            <button class="button red">Reject</button>
                        </td>

                    </tr>
                    <tr>
                        <td>Davide</td>
                        <td>Ngong</td>
                        <td>Town</td>
                        <td>20/6/2018</td>
                        <td>8:00AM</td>
                        <td>
                            <button class="button">Accept</button>
                        </td>
                        <td>
                            <button class="button red">Reject</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Davide</td>
                        <td>Ngong</td>
                        <td>Town</td>
                        <td>20/6/2018</td>
                        <td>8:00AM</td>
                        <td>
                            <button class="button">Accept</button>
                        </td>
                        <td>
                            <button class="button red">Reject</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Davide</td>
                        <td>Ngong</td>
                        <td>Town</td>
                        <td>20/6/2018</td>
                        <td>8:00AM</td>
                        <td>
                            <button class="button">Accept</button>
                        </td>
                        <td>
                            <button class="button red">Reject</button>
                        </td>

                    </tr>
                    <tr>
                        <td>Davide</td>
                        <td>Ngong</td>
                        <td>Town</td>
                        <td>20/6/2018</td>
                        <td>8:00AM</td>
                        <td>
                            <button class="button">Accept</button>
                        </td>
                        <td>
                            <button class="button red">Reject</button>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!--footer fixed-->
    <div class="footer">
        <p>Ride-my-way &copy; 2018</p>
    </div>
    <script language="JavaScript" src="../static/js/main.js" type="text/javascript"></script>
</body>

</html>