<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ride</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Core css link-->
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/main.css" />
    <script src="../static/js/main.js"></script>
</head>

<body>
    <!--Navbar-->
    <div class="navbar">
        <a href="#">
            <img id="logo" src="../static/img/logo-4.png">
        </a>
        <a id="navbar-right" href="welcome.html">Logout</a>
        <a id="navbar-right" href="profile.html">Profile</a>
        <a id="navbar-right" href="home.html">Home</a>
    </div>

    <!--Ride details-->
    <div class="ride">
        <form method="POST" , action="profile.html">
            <img id="ride-img" src="../static/img/ride-new.jpg" />
            <div class="ride-details">
                <p>
                    <b>Ride:</b> Kamau's ride</p>
                <p>
                    <b>Reg no:</b> KCJ 123Q</p>
                <p>
                    <b>Driver:</b> Martin Kamau</p>
                <p>
                    <b>From:</b> Thika</p>
                <p>
                    <b>Destination:</b> Nairobi</p>
                <p>
                    <b>Passengers:</b> 3</p>
                <p>
                    <b>Time:</b> 10:00AM</p>
                <p>
                    <b>Cost:</b>KSH 5/KM</p>
                <input type="submit" value="Request a Ride">
        </form>
        </div>




    </div>

    <!--footer fixed-->
    <div class="footer">
        <p>Ride-my-way &copy; 2018</p>
    </div>

</body>

</html>
